.card-container {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  width: calc(100vw - 3rem);
  height: 100%;
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 0.5rem;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

/*tablet*/
@media (min-width: 480px) {
  .card-holder {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*desktop*/
@media (min-width: 1280px) {
  .card-holder {
    grid-template-columns: repeat(4, 1fr);
  }
}

.project-card-holder::-webkit-scrollbar {
  width: 0.2rem;
  background: #000000c0;
  border-radius: 1rem;
}

.project-card-holder::-webkit-scrollbar-thumb {
  background: green;
}

.card-container::-webkit-scrollbar {
  width: 0.2rem;
  background: #000000c0;
  border-radius: 1rem;
}

.card-container::-webkit-scrollbar-thumb {
  background: green;
}
