.feedback-card-holder {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
  width: calc(100vw - 3rem);
  height: 100%;
  background-color: unset;
  border-radius: 0.5rem;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
