/*mobile*/
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.menu-path-word {
  font-size: 1rem;
  text-decoration: underline;
  text-align: center;
}
.menu-item-icon {
  width: 2rem;
  height: 2rem;
  background-size: cover;
  background-repeat: no-repeat;
}
/*tablet*/
@media (min-width: 480px) {
  .menu-path-word {
    font-size: 1.2rem;
  }
}
/*desktop*/
@media (min-width: 1280px) {
  .menu-path-word {
    font-size: 1.4rem;
  }
}
