.info-technology-card-holder {
  width: calc(100% - 0.5rem);
  height: 10%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.info-technology-card {
  max-width: fit-content;
  padding: 0.1rem 0.5rem;
  background: rgb(122, 19, 108);
  color: white;
  border-radius: 0.5rem;
  margin: 0.1rem;
  align-self: flex-start;
}
