.project-description-holder {
  width: calc(100% - 0.5rem);
  height: 20%;
  padding-right: 0.5rem;
  word-break: keep-all;
  overflow-y: scroll;
  overflow-x: hidden;
}
.project-description-holder::-webkit-scrollbar {
  width: 0.2rem;
  background: #00000034;
  border-radius: 1rem;
}

.project-description-holder::-webkit-scrollbar-thumb {
  background: rgb(1, 1, 1);
}
